<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxxmg.mapper.TeacherMapper">
    <select id="getById" resultType="com.yxxmg.entity.Teacher">
        select teacher_id teacherId, teacher_name teacherName
        from teacher
        where teacher_id = #{id}
    </select>
</mapper>